* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.header,
.footer {
  width: 100%;
  min-height: 10vh;
  background-color: #3f3f3f;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
.content {
  min-height: 80vh;
  width: 100%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
p {
  text-align: center;
  font-size: 12px;
}
.cardContainer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  flex-direction: row;
  text-align: center;
}
.pokemonCard {
  margin: 10px 10px;
  display: flex;
  justify-content: center;
  background-color: #747474;
  width: 280px;
  border-radius: 10px;
  padding: 20px;
  color: white;
}
.typeContainer {
  margin-top: 10px;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;
}
.type {
  width: 70px;
  border-radius: 5px;
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.msg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.txtField {
  padding: 10px 10px;
  width: 300px;
}
@media screen and (max-width: 1670px) {
  .pokemonCard {
    width: 230px;
  }
}
@media screen and (max-width: 1520px) {
  .pokemonCard {
    width: 210px;
  }
}
@media screen and (max-width: 1400px) {
  .pokemonCard {
    width: 190px;
  }
}
@media screen and (max-width: 1280px) {
  .pokemonCard {
    width: 240px;
  }
}
